OPENAI_API_KEY="<your OpenAI API key>"

AIRFLOW_CONN_PYDANTICAI_DEFAULT='{
    "conn_type":"pydanticai",
    "password":"<your OpenAI API key>",
    "extra":{
        "model":"openai:gpt-4o"
    }
}'

SPARK_CONN_ID="spark_default"
SPARK_DATABASE="<your-database>"
SPARK_SCHEMA="<your-schema>"
AIRFLOW_CONN_SPARK_DEFAULT='{
    "conn_type":"spark_connect",
    "host":"sc://spark-connect",
    "port":15002
}'

AIRFLOW_CONN_SPARK_STANDALONE='{
    "conn_type":"spark",
    "host":"spark://spark-master",
    "port":7077,
    "extra":{
        "deploy-mode":"cluster"
    }
}'