.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
airflow-deving/bin
airflow-deving/lib
airflow-deving/pyvenv.cfg
airflow-deving/share
upgrade-test* 
webinar_copy_paste_code.py