# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# apache-airflow-providers-amazon[s3fs]==9.9.0
# apache-airflow-providers-common-io==1.6.1
